# Base de datos PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_NAME=sistema_ocr
DB_USER=postgres
DB_PASSWORD=1234

# Seguridad
JWT_SECRET_KEY=CAMBIAR-ESTO-EN-PRODUCCION-POR-UN-STRING-ALEATORIO-SEGURO
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480
REFRESH_TOKEN_EXPIRE_DAYS=30

# Rutas (dentro del contenedor)
UPLOAD_PATH=/FGJCDMX/documentos
EXPORT_PATH=/FGJCDMX/exportaciones
TEMP_PATH=/FGJCDMX/temp
LOG_PATH=/FGJCDMX/logs

# OCR
OCR_ENABLE_TESSERACT=true
OCR_ENABLE_EASYOCR=false
OCR_ENABLE_PADDLEOCR=false
OCR_ENABLE_TROCR=false

# Servidor
SERVER_HOST=0.0.0.0
SERVER_PORT=8000
SECURE_PORT=8443

# PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@fiscalia.gob.mx
PGADMIN_DEFAULT_PASSWORD=admin123
